:root {
  /* Colours */
  --primary-color: #ED6A5E;
  --secondary-color: #2C497F;
  --tertiary-color: #433B7C;

  /* Fonts */
  --font-family: "Open Sans", sans-serif;
  --font-size: 16px;

  /* Backgrounds */
  --background-opacity: 0.25;
  --login-background: var(--secondary-color);
  --register-background: var(--tertiary-color);
  --background-image: url('../public/assets/images/homepage-banner-animated.gif');

  /* Transitions */
  --wrapper-transition: all 0.85s ease-in-out;
  --input-wrapper-transition: all 0.25s cubic-bezier(0.36, 1, 0.62, 0.98) 0.3s;
  --register-block-transition: all 0.5s cubic-bezier(0.36, 1, 0.62, 0.98) 0.2s;
  
  --input-field-transform: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98);
  --input-field-transition: opacity 0.3s ease-in-out 0.2s, 
                            background 0.15s ease-in-out,
                            border 0.3s ease-in-out;
  

}

html, body, .container, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  color: white;
  margin: 0 !important;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; 
  overflow-y: scroll;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: var(--wrapper-transition);
  -moz-transition: var(--wrapper-transition);
  -webkit-transition: var(--wrapper-transition);
}

.wrapper--is-login {
  opacity: 0.92;
  background-color: var(--login-background);
}

.wrapper--is-register {
  opacity: 0.94;
  background-color: var(--register-background);
}

.input-wrapper {
  height: 125px;
  position: relative;
  margin-bottom: 2px;
  transition: var(--input-wrapper-transition);
  -moz-transition: var(--input-wrapper-transition);
  -webkit-transition: var(--input-wrapper-transition);
}

.form-block--is-register .input-wrapper {
  height: 255px;
  transition: var(--register-block-transition);
  -moz-transition: var(--register-block-transition);
  -webkit-transition: var(--register-block-transition);
}

.form-group--signup {
  position: absolute;
  top: 0;
  left: 150%;
  width: 100%;
}

.input-text-field {
  display: block;
  font-size: 16px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 10px;
  margin-bottom: 15px;
  background: rgba( 255, 255, 255, 0.25 );
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  border-radius: 2px;
}

.input-text-field:focus {
  outline: none;
  border: 1px solid white;
  background: transparent;
}

.form-block--is-register .input-text-field {
  transform: translateX(-150%);
}

.form-group--login .input-text-field {
  opacity: 1;
}

.form-block--is-register .form-group--login .input-text-field {
  opacity: 0;
}

.form-group--register .input-text-field {
  opacity: 0;
}

.form-block--is-register .form-group--register .input-text-field {
  opacity: 1;
}

.input-text-field:nth-of-type(1) {
  transition: var(--input-field-transform) 0.085s, 
              var(--input-field-transition);
  -moz-transition: var(--input-field-transform) 0.085s, 
                   var(--input-field-transition);
  -webkit-transition: var(--input-field-transform) 0.085s, 
                      var(--input-field-transition);
}

.input-text-field:nth-of-type(2) {
  transition: var(--input-field-transform) 0.17s, 
              var(--input-field-transition);
  -moz-transition: var(--input-field-transform) 0.17s, 
                   var(--input-field-transition);
  -webkit-transition: var(--input-field-transform) 0.17s, 
                      var(--input-field-transition);
}

.input-text-field:nth-of-type(3) {
  transition: var(--input-field-transform) 0.255s, 
              var(--input-field-transition);
  -moz-transition: var(--input-field-transform) 0.255s, 
                   var(--input-field-transition);
  -webkit-transition: var(--input-field-transform) 0.255s, 
                      var(--input-field-transition);
}

.input-text-field:nth-of-type(4) {
  transition: var(--input-field-transform) 0.34s, 
              var(--input-field-transition);
  -moz-transition: var(--input-field-transform) 0.34s, 
                   var(--input-field-transition);
  -webkit-transition: var(--input-field-transform) 0.34s, 
                      var(--input-field-transition);
}

.form-group--register {
  position: absolute;
  top: 0;
  left: 150%;
  width: 100%;
}

.form-block {
  position: relative;
  margin: 17% auto 0;
  width: 285px;
  padding: 25px;
  background: rgba(255,255,255,0.15);
  border-radius: 4px;
  color: white;
  box-shadow: 0px 0px 16px 9px rgba( 0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 16px 9px rgba( 0, 0, 0, 0.07 );
  -webkit-box-shadow: 0px 0px 16px 9px rgba( 0, 0, 0, 0.07 );
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 30px;
  margin: 0 0 20px;
}

.row {
  border-top: 1px solid #CBD2D9;
  display: flex;
  justify-content: space-between;
}

.toggle-block {
  position: relative;
  padding-top: 10px;
}

.toggle-block span {
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  padding-top: 4px;
}

.button {
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 13px 8px rgba( 0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 13px 8px rgba( 0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 13px 8px rgba( 0, 0, 0, 0.1);
}

.button:hover {
  box-shadow: 0px 0px 18px 15px rgba( 0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 18px 15px rgba( 0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 18px 15px rgba( 0, 0, 0, 0.15);
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
}

.full-width {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  position: relative;
  top: 8px;
  right: 0;
  width: 45px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

input[type="checkbox"] + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 33%;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked + label:after {
  right: 0;
}

::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba( 255, 255, 255, 0.5 );
}

::-moz-placeholder {
  font-weight: 300;
  color: rgba( 255, 255, 255, 0.5 );
}

:-ms-input-placeholder {
  font-weight: 300;
  color: rgba( 255, 255, 255, 0.5 );
}

:-moz-placeholder {
  font-weight: 300;
  color: rgba( 255, 255, 255, 0.5 );
}